.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

nav h1 {
  color: azure;
}

.track-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 10px;
}

.track-container .card {
  width: 35rem;
}
